.bg-hero-blur::before {
	animation:bgp 4s;
animation-fill-mode:forwards;
	background:transparent url(https://arsrnasitefr-1257609559.cos.ap-guangzhou.myqcloud.com/hdpic.jpg_WH);
    z-index:-10;
    background-size:cover;
    box-shadow:0 0 1px 3px #292929 inset;
}

.text-title-hc {
transition:all 4.5s
cubic-bezier(0.785, 0.135, 0.15, 0.86);
animation:titlehc 4.5s;
animation-fill-mode:forwards;
  top: 10%;
  position:absolute;
}

.nr-hc {
transition:all 4.5s
cubic-bezier(0.785, 0.135, 0.15, 0.86);
animation:nrhc 4.5s;
animation-fill-mode:forwards;
  top: 40%;
position:absolute;
}
.img-hc {
transition:all 4.5s
cubic-bezier(0.785, 0.135, 0.15, 0.86);
animation:imghc 4.5s;
animation-fill-mode:forwards;
}

.loadingani {
transition:all 3.5s
cubic-bezier(0.785, 0.135, 0.15, 0.86);
animation:loading 3.5s;
animation-fill-mode:forwards;
z-index:-8;
left:20%;
}

.wholebody div{
transition:all 4s
cubic-bezier(0.785, 0.135, 0.15, 0.86);
animation:wholebody 6s;
animation-fill-mode:forwards;
}


.text-ani1 {
{
animation-delay:2s;
-webkit-animation-delay:2s; /* Safari 和 Chrome */
}


/*@keyframes imghc
{
  0% {filter: blur(20px);transform:translate(100%);opacity:1;z-index:-10;}
  20% {filter: blur(0px);transform:translate(0%);opacity:1;z-index:-10;}
  80% {filter: blur(0px);transform:translate(0%);opacity:1;z-index:-10;}
  100% {filter: blur(20px);opacity:0;}
}*/

@keyframes titlehc
{
  0% {filter: blur(5px);transform:translateX(100%);opacity:0;}
  80% {filter: blur(8px);transform:translateX(100%);opacity:0;}
  100% {filter: blur(0px);transform:translateX(0%);opacity:1;}
}
@keyframes nrhc
{
  0% {filter: blur(5px);transform:translateX(-100%);opacity:0;}
  85% {filter: blur(8px);transform:translateX(-100%);opacity:0;}
  100% {filter: blur(0px);transform:translateX(0%);opacity:1;}
}

@keyframes bgp
{
  0% {filter:blur(10px);opacity:0.5;}
  30% {filter:blur(0px);opacity:0.5;}
  80% {filter:blur(0px);opacity:1;}
  100% {filter:blur(10px);opacity:0.5;}
}

@keyframes loading
{
  0% {filter:blur(10px);opacity:1;transform:translateX(100%);color:red;}
  20% {filter:blur(0px);opacity:1;transform:translateX(5%);color:red;}
  80% {filter:blur(0px);opacity:1;transform:translateX(5%);color:yellow;}
  100% {filter:blur(10px);opacity:0;transform:translateX(0%);color:green;}
}

@keyframes wholebody
{
  0% {filter:blur(5px);opacity:0;}
  70% {filter:blur(5px);opacity:0;}
  100% {filter:blur(0px);opacity:1;}

}